body {
  color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
.main-content {
  flex-grow: 1;
}

.portrait {
  max-width: 25%;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
}
